.todo-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    background: black;
    border-radius: 5px;
  }
  
  .todo-item.completed span {
    text-decoration: line-through;
    color: #888;
  }
  
  button {
    background: #9dff4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background: #6200ff;
  }
  